// Fonts
$primary_font: "SF UI Display", sans-serif;
$caption_font: "Robotoslab", sans-serif;
$bold_font: "Constantine", sans-serif;

// Colors
$a-color-black: #1c1c1c;
$a-color-white: #ffffff;
$a-color-gray: #969696;
$a-color-dark-gray: #545454;
