.collection-detail {
  margin-bottom: 40px;

  &__slider {
    .mySwiper .swiper-slide {
      width: 25% !important;
      height: 100%;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    position: relative;
    overflow: hidden;

    @media (max-width: 991px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &-brand {
      display: flex;
      align-items: center;

      span {
        margin-right: 10px;
      }

      img {
        max-height: 35px;
      }
    }
  }

  &__info {
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-favorite {
      width: 250px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }
}
