.collection-detail {
  margin-bottom: 40px;

  &__wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
  }

  &__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &-brand {
      display: flex;
      align-items: center;

      span {
        margin-right: 10px;
      }

      img {
        max-height: 35px;
      }
    }
  }

  &__description {
    font-size: 15px;
    line-height: 1.47;
    color: $a-color-gray;
  }

  &__col {
    width: 49%;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__info {
    &-wrap {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-favorite {
      width: 250px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }
}
