section.collection-detail
  .l-default
    +header-section-back({
      name: "Все коллекции",
      link: "collections.html"
    })
    .collection-detail__wrapper
      .collection-detail__col
        .collection-detail__slider
          .swiper-container.mySwiper2
            .swiper-wrapper
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
            .swiper-button-next
            .swiper-button-prev
          .swiper-container.mySwiper(thumbsSlider)
            .swiper-wrapper
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
              .swiper-slide
                img(src="img/new-collections/01.jpg")
      .collection-detail__col
        .collection-detail__info-wrap
          .collection-detail__info
            h1.title--h1 Коллекция FIORI
            .collection-detail__headline
              .collection-detail__headline-country Страна: Испания
              .collection-detail__headline-brand
                span Бренд
                img(src="img/brands/krion.png", alt="")
            .collection-detail__description
              p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Злых имеет назад жаренные пунктуация маленькая, рекламных даже безорфографичный текста все меня вдали. Взобравшись гор речью имени текста своего всемогущая.Взобравшись от всех агентство деревни повстречался дорогу свой запятой заманивший своих моей букв, рукопись пояс.
              p Строчка всеми, выйти, большого ты необходимыми, языком журчит наш но сбить составитель меня пунктуация большой речью!Первую языком переулка она. Агентство рукописи составитель дороге моей вопрос власти которой парадигматическая ты назад пор бросил однажды подпоясал запятых ручеек запятой даль что, необходимыми дорогу?
              p Продолжил это маленькая мир.Запятых вопрос журчит безопасную маленький единственное переулка не дал предупредила текста рукописи, снова дорогу повстречался прямо безорфографичный своего, всемогущая языкового пустился всеми! Страну свой lorem взгляд предупредила родного вдали бросил?
          .collection-detail__info-bottom
            .collection-detail__share
              span Поделиться
              .collection-detail__share-list
                a.collection-detail__share-link(href="" rel="nofollow" aria-label="Facebook" target="_blank")
                  +svgMono('share-facebook')
                a.collection-detail__share-link(href="" rel="nofollow" aria-label="Google" target="_blank")
                  +svgMono('share-google')
                a.collection-detail__share-link(href="" rel="nofollow" aria-label="Twitter" target="_blank")
                  +svgMono('share-twitter')
            .collection-detail__buttons
              a.collection-detail__btn.collection-detail__btn-favorite(href="")
                span В избранное
                +svgMono('heart')
              button.collection-detail__btn(type="button") Нашли дешевле?