-
  const brands=[
    {
      img: "01",
      title: "01",
      link: "#"
    },
    {
      img: "02",
      title: "02",
      link: "#"
    },
    {
      img: "03",
      title: "03",
      link: "#"
    },
    {
      img: "04",
      title: "04",
      link: "#"
    },
    {
      img: "05",
      title: "05",
      link: "#"
    },
  ];

secton.section.brands
  .l-default
    .section__wrapper
      +header-section({
        title: "Производители плитки",
        name: "Все фабрики",
        link: "#"
      })
      .swiper-container.brands__slider
        .swiper-wrapper
          each slide in shares
            .swiper-slide.brands__slide
              .collection-item
                .brandss__wrapper
                  a(href=slide.link aria-label=slide.title)
                    picture
                      source(srcset="img/new-collections/" + slide.img + ".webp" type="image/webp")
                      source(srcset="img/new-collections/" + slide.img + ".png" type="image/png")
                      img.brands__image(src="new-collections/" + slide.img + ".jpg" alt=slide.title)
        .swiper-button-prev.brands__slider-button__prev
        .swiper-button-next.brands__slider-button__next