-
  const brands=[
    {
      img: "porcelanosa",
      title: "porcelanosa",
      link: "brand.html"
    },
    {
      img: "krion",
      title: "krion",
      link: "brand.html"
    },
    {
      img: "porcelanosa",
      title: "porcelanosa",
      link: "brand.html"
    },
    {
      img: "krion",
      title: "krion",
      link: "brand.html"
    },
    {
      img: "porcelanosa",
      title: "porcelanosa",
      link: "brand.html"
    },
    {
      img: "krion",
      title: "krion",
      link: "brand.html"
    },
    {
      img: "porcelanosa",
      title: "porcelanosa",
      link: "brand.html"
    },
    {
      img: "krion",
      title: "krion",
      link: "brand.html"
    },
    {
      img: "porcelanosa",
      title: "porcelanosa",
      link: "brand.html"
    },
  ];

secton.section.brands
  .l-default
    .brands__wrapper
      +header-section({
        title: "Производители плитки",
        name: "Все фабрики",
        link: "#"
      })
      .swiper-container.brands__slider
        .swiper-wrapper
          each slide in brands
            .swiper-slide.brands__slide
              a.brands__item(href=slide.link aria-label=slide.title)
                picture
                  source(srcset="/img/brands/" + slide.img + ".webp" type="image/webp")
                  source(srcset="/img/brands/" + slide.img + ".png" type="image/png")
                  img.brands__item-image(src="/img/brands/" + slide.img + ".jpg" alt=slide.title)
        .swiper-button-prev.brands__slider-button__prev
        .swiper-button-next.brands__slider-button__next