.brands {
  &__wrapper {
    padding: 25px 0 35px;
    border-top: 3px solid $a-color-black;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;

    img {
      display: block;
      margin: auto;
    }
  }
}
