-
    const catalog_menu = [
        {
            href: "",
            text: "Керамическая плитка"
        },
        {
            href: "",
            text: "Акции"
        },
        {
            href: "",
            text: "Испанская плитка"
        },
        {
            href: "",
            text: "Итальянская плитка"
        },
        {
            href: "",
            text: "Российская плитка"
        },
        {
            href: "",
            text: "Популярная плитка"
        },
        {
            href: "",
            text: "Премиальная плитка"
        }
    ]


.catalog-menu
    .catalog-menu__items
        .catalog-menu__item
    .catalog-menu__body
        .catalog-menu__left
        .catalog-menu__content
    