section.seo-block
  .l-default
    .seo-block__wrapper
      .seo-block__left
        h2.seo-block__title Заголовок для продвижения страницы
      .seo-block__right
        .seo-block__content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae odio iure unde. Ducimus, suscipit ratione, aliquid aperiam quaerat sapiente a inventore, magni natus beatae veritatis quasi cumque. Voluptates, dolorem distinctio!
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, praesentium earum ab tempore tempora voluptatem?
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit.