.ico-mono-arrow-right {
  width: 1em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-bakin {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ic-cart {
  width: 0.94em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ic-catalog-2 {
  width: 1.06em;
  height: 1em;
  fill: #22201E;
}
.ico-mono-ic-catalog-3 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ic-catalog {
  width: 1.06em;
  height: 1em;
  fill: #22201E;
}
