.product-tabs__list {
  display: table;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  transform: translateY(5px);
  table-layout: fixed;

  > .product-tabs__item {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: table-cell;
    padding: 10px 20px 12px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: inset 0px -3px 0px #f7f7f7;
    list-style: none;
    transition-duration: 0.25s;

    &:before {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      border-radius: 5px 5px 0 0;
      transform: translateY(100%);
      content: "";
      background-color: rgba(255, 255, 255, 0.3);
      transition-duration: 0.25s;
    }

    &:hover {
      &:before {
        transform: translateY(70%);
      }
    }

    &._is-active {
      background: rgba(0, 0, 0, 0.0001);
      box-shadow: inset 0px -3px 0px #000000;

      &:before {
        transform: translateY(0);
        transition-duration: 0.5s;
      }
    }
  }
}

.product-tabs__content {
  position: relative;
  width: 100%;
  margin-left: 0;
  padding-left: 0;

  > .product-tabs__content-item {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    list-style: none;

    .product-tabs__item-content {
      width: 100%;
      padding: 50px 120px;
    }
  }
}
