secton.section.product-tabs
  .l-default
    ul.product-tabs__list
      li.product-tabs__item._is-active Описание
      li.product-tabs__item Отзывы
      li.product-tabs__item Информация
    ul.product-tabs__content
      li.product-tabs__content-item._is-active
        .product-tabs__item-content
          .product-tabs__item-col

          .product-tabs__item-col
            h2 Описание напольной плитки PAV. IBIZA SKY (м2) 75*75
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
            p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
      li.product-tabs__content-item
        .product-tabs__item-content 2
      li.product-tabs__content-item
        .product-tabs__item-content 3
