-
  const nav=[
    {
      title: "О компании",
      img: "01",
      link: "about.html",
    },
    {
      title: "Гарантия и сервис",
      img: "02",
      link: "#",
    },
    {
      title: "Доставка",
      img: "03",
      link: "#",
    },
    {
      title: "Оплата",
      img: "04",
      link: "#",
    },
    {
      title: "Оптовикам",
      img: "04",
      link: "#",
    },
    {
      title: "Контакты",
      img: "04",
      link: "contacts.html",
    },
    {
      title: "Полезные статьи",
      img: "04",
      link: "articles.html",
    },
  ];

.page__sidebar
  nav.sidebar-menu
    each item in nav
      li.sidebar-menu__item
        a.sidebar-menu__link(href=item.link aria-label=item.title)
          img(src="img/menu/" + item.img + ".svg",, alt=item.title)
          span=item.title