extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = "Страница коллекции"

block content
  include ../../blocks/modules/header/header.pug
  include ../../blocks/modules/page-category/page-category-data.pug
  main.main.content-collection
    include ../../blocks/modules/collection-detail/collection-detail.pug
    include ../../blocks/modules/collection-product/collection-product.pug
    include ../../blocks/modules/lead-form/lead-form.pug
    include ../../blocks/modules/brands-section/brands-section.pug
  include ../../blocks/modules/footer/footer.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")