extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = "Страница товара"

block content
  include ../../blocks/modules/header/header.pug
  main.main
    include ../../blocks/modules/product-detail/product-detail.pug
    include ../../blocks/modules/product-tabs/product-tabs.pug
    include ../../blocks/modules/products-in-page-product/products-in-page-product.pug
    include ../../blocks/modules/collections-product/collections-product.pug
  include ../../blocks/modules/footer/footer.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")