section.page-sales
  .l-default
    +header-section({
      title: "Paспродажа керамической плитки",
      tag: "h1",
    })
    .page-sales__list
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
