-
  const categoryList=[
    {
      img: "01",
      title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
      label: "Акция",
      link: "#",
      price: "920",
      oldPrice: "1180"
    },
    {
      img: "02",
      title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
      label: "Акция",
      link: "#",
      price: "920",
      oldPrice: "1180"
    },
    {
      img: "01",
      title: "Керамогранит BREMEN RIEMCHEN UNGESPALTEN (из 3-х шт) BIEGE 24,5x7",
      label: "",
      link: "#",
      price: "920",
      oldPrice: "1180"
    },
    {
      img: "02",
      title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
      label: "Акция",
      link: "#",
      price: "920",
      oldPrice: "1180"
    },
    {
      img: "01",
      title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
      label: "Акция",
      link: "#",
      price: "920",
      oldPrice: "1180"
    },
    {
      img: "01",
      title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
      label: "Акция",
      link: "#",
      price: "920",
      oldPrice: "1180"
    },
    {
      img: "02",
      title: "Напольная плитка 3301 OTTAGONETTA NERO MATT 15*15",
      label: "Акция",
      link: "#",
      price: "920",
      oldPrice: "1180"
    },
    {
      img: "01",
      title: "Керамогранит BREMEN RIEMCHEN UNGESPALTEN (из 3-х шт) BIEGE 24,5x7",
      label: "",
      link: "#",
      price: "920",
      oldPrice: "1180"
    },
  ];