.section {
  padding: 21px 0;

  &-heading {
    margin-bottom: 37px;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      margin-bottom: 0;
    }

    &__link {
      display: flex;
      align-items: center;
      height: 38px;
      padding-right: 10px;
      padding-left: 14px;
      font-size: 15px;
      font-weight: 500;
      line-height: 39px;
      border: 1px solid #e4e4e4;
      letter-spacing: -0.2px;
      white-space: nowrap;

      span {
        color: $a-color-black;
      }

      &:hover {
        color: #1c1c1c;
        opacity: 0.7;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &__description {
      max-width: 950px;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media (max-width: 768px) {
  .section {
    &-heading {
      margin-bottom: 15px;

      &__title {
        margin-right: 70px;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: -0.32px;
      }
    }
  }
}

@media (max-width: 570px) {
  .section-heading {
    &__title {
      margin-right: 70px;
      font-size: 19px;
      line-height: 1.05;
      letter-spacing: -0.19px;
    }

    &__link {
      background-color: transparent;

      span {
        display: none;
      }
    }
  }
}
