section.section.userful-articles
  .l-default
    .useful-articles__wrap
      +header-section({
        title: "Полезные статьи о дизайне и ремонте",
        name: "Все статьи",
        link: "articles.html",
      })
    .useful-articles__wrapper
      +article-card({
        title: "График работы на Новогодние праздники",
        img: "01",
      })
      +article-card({
        title: "АКЦИЯ! Грандиозная весна. Скидки до 25% на плитку и сантехнику",
        img: "02",
      })
      +article-card({
        title: "Новинка! Керамогранит 75х75",
        img: "03",
      })
      +article-card({
        title: "Фирменный шоу-рум ИТАЛОН | ITALON",
        img: "04",
      })
