section.sales-block
  .l-default
    .sales-block__list
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })
      +sales-item({
        img: "01",
        title: "Сезонная распродажа остатков топовой коллекции",
        btnText: "Адрес на карте",
      })