.lead-form {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/lead-form/bg.jpg");

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 21px;
    font-size: 42px;
    line-height: 1.1s9;
  }

  &__text {
    margin-bottom: 45px;
    font-size: 15px;
    line-height: 1.33;
    color: #545454;
  }
}
