section.lead-form
  .l-default
    .lead-form__wrapper
      h2.section__title.title--h2 Не нашли нужной позиции
        br
        | в каталоге?
      .lead-form__text мы подготовим для вас дизайн проект или квалифицированно проконсулитьруем о всех видах плитки
      button.btn.btn--black Оставить заявку