section.page-brand
  .l-default
    .page-brand__wrapper
      .page__container
        .page__sidebar
          .page-brand__logo-wrap
            img(src="/img/brands/krion.png", alt="")
        .page__content
          .page-brand__info
            h1.page-brand__title.title--h1 XLIGHT Сверхтонкая керамическая плитка
            .page-brand__decription
              p Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Предупреждал собрал дорогу взгляд моей пор свою ему, рот силуэт проектах ты, вопрос мир пустился это однажды инициал! Ее, семь.Сих маленький рыбного текст образ заманивший, имеет свое дорогу однажды пор на берегу, силуэт деревни, свою меня даль что подпоясал правилами одна рукопись это. Переписали проектах свой залетают живет, снова своего?

section.page-collections
  .l-default
    +header-section({
      title: "Коллекции плитки бренда XLight"
    })
    .page-collections__list
      +collection-item-full({
        img: "01",
        title: "Коллекция Calacatta",
        amount: "7 товаров",
        brand: "Xlight",
        country: "Испания",
        label: "Остатки",
        link: "#",
        description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.",
      })
      +collection-item-full({
        img: "01",
        title: "Коллекция Calacatta",
        amount: "7 товаров",
        brand: "Xlight",
        country: "Испания",
        label: "Остатки",
        link: "#",
        description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.",
      })
      +collection-item-full({
        img: "01",
        title: "Коллекция Calacatta",
        amount: "7 товаров",
        brand: "Xlight",
        country: "Испания",
        label: "Остатки",
        link: "#",
        description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.",
      })
      +collection-item-full({
        img: "01",
        title: "Коллекция Calacatta",
        amount: "7 товаров",
        brand: "Xlight",
        country: "Испания",
        label: "Остатки",
        link: "#",
        description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.",
      })