section.page-brand
  .l-default
    +header-section-back({
      name: "Все производители керамической плитки",
      link: "brands.html"
    })
    .page-brand__wrapper
      .page__container
        .page__sidebar
          .page-brand__logo-wrap
            img(src="img/brands/krion.png", alt="")
        .page__content
          .page-brand__info
            h1.page-brand__title.title--h1 XLIGHT Сверхтонкая керамическая плитка
            .page-brand__decription
              p Размер XL и минимальная толщина — вот основные характеристики нового керамогранита Urbatek.
              p Появление плитки XLIGHT ознаменовало собой еще один шаг в естественной эволюции керамики. Она обладает выдающимися физическими и механическими свойствами, которые делают ее поистине уникальной. Это крупный формат (плитки размером 300x100 см), минимальная толщина (3,5 мм), повышенная легкость (8 кг/м²) и меньшая водопоглощаемость, чем у традиционной плитки для облицовки стен (Керамогранит. Группа BIa).

section.page-collections
  .l-default
    +header-section({
      title: "Коллекции плитки бренда XLight"
    })
    .page-collections__list
      +collection-item-full({
        img: "01",
        title: "Коллекция Calacatta",
        amount: "7 товаров",
        brand: "Xlight",
        country: "Испания",
        label: "Остатки",
        link: "#",
        description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.",
      })
      +collection-item-full({
        img: "01",
        title: "Коллекция Calacatta",
        amount: "7 товаров",
        brand: "Xlight",
        country: "Испания",
        label: "Остатки",
        link: "#",
        description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.",
      })
      +collection-item-full({
        img: "01",
        title: "Коллекция Calacatta",
        amount: "7 товаров",
        brand: "Xlight",
        country: "Испания",
        label: "Остатки",
        link: "#",
        description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.",
      })
      +collection-item-full({
        img: "01",
        title: "Коллекция Calacatta",
        amount: "7 товаров",
        brand: "Xlight",
        country: "Испания",
        label: "Остатки",
        link: "#",
        description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.",
      })