-
  let sliders = [
    {
      title: "Коллекции плитки для ванной",
      name: "Все коллекции плитки для ванной",
      link: "collections.html",
      list: [
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        }
      ]
    },
    {
      title: "Коллекции плитки для кухни",
      name: "Все коллекции плитки для кухни",
      link: "collection.html",
      list: [
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        }
      ]
    },
    {
      title: "Мозайка",
      name: "Вся мозайка",
      link: "collection.html",
      list: [
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
        {
          img: "01",
          title: "Коллекция",
          amount: "7 товаров",
          brand: "Xlight",
          country: "Испания",
          label: "",
          link: "collection.html",
        },
      ]
    }
  ]