section.page-collections
  .l-default
    +header-section({
      title: "Каталог керамической плитки",
      name: "",
      link: "",
      tag: "h1",
      description: "<p>ipsum dolor sit amet, consectetur adipisicing elit. Iusto explicabo aperiam dignissimos placeat. Vero facere expedita in similique reprehenderit impedit, veniam numquam quis deserunt culpa quibusdam deleniti assumenda, minima ratione.</p><p>ipsum dolor sit amet, consectetur adipisicing elit. Iusto explicabo aperiam dignissimos placeat. Vero facere expedita in similique reprehenderit impedit, veniam numquam quis deserunt culpa quibusdam deleniti assumenda, minima ratione.</p>"
    })

secton.section.collections-list
  .l-default
    .section__wrapper
      +header-section({
        title: "Коллекции плитки для ванной",
        name: "Все коллекции плитки для ванной",
        link: "#"
      })
      .collections-list__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
          .swiper-button-prev.collections-list__slider-button__prev
          .swiper-button-next.collections-list__slider-button__next

secton.section.collections-list
  .l-default
    .section__wrapper
      +header-section({
        title: "Коллекции плитки для кухни",
        name: "Все коллекции плитки для кухни",
        link: "#"
      })
      .collections-list__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
          .swiper-button-prev.collections-list__slider-button__prev
          .swiper-button-next.collections-list__slider-button__next

secton.section.collections-list
  .l-default
    .section__wrapper
      +header-section({
        title: "Коллекции плитки для гостинной",
        name: "Все коллекции плитки для гостинной",
        link: "#"
      })
      .collections-list__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
          .swiper-button-prev.collections-list__slider-button__prev
          .swiper-button-next.collections-list__slider-button__next

secton.section.collections-list
  .l-default
    .section__wrapper
      +header-section({
        title: "Мозайка",
        name: "Вся мозайка",
        link: "#"
      })
      .collections-list__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
            .swiper-slide.collections-list__slide
              +collection-item({
                img: "01",
                title: "Коллекция",
                amount: "7 товаров",
                brand: "Xlight",
                country: "Испания",
                label: "",
                link: "#",
              })
          .swiper-button-prev.collections-list__slider-button__prev
          .swiper-button-next.collections-list__slider-button__next