include page-catalog-data.pug

section.page-collections
  .l-default
    +header-section({
      title: "Каталог керамической плитки",
      name: "",
      link: "",
      tag: "h1",
      description: "<p>ipsum dolor sit amet, consectetur adipisicing elit. Iusto explicabo aperiam dignissimos placeat. Vero facere expedita in similique reprehenderit impedit, veniam numquam quis deserunt culpa quibusdam deleniti assumenda, minima ratione.</p><p>ipsum dolor sit amet, consectetur adipisicing elit. Iusto explicabo aperiam dignissimos placeat. Vero facere expedita in similique reprehenderit impedit, veniam numquam quis deserunt culpa quibusdam deleniti assumenda, minima ratione.</p>"
    })

each slider in sliders
  secton.section.collections-list
    .l-default
      .section__wrapper
        +header-section({
          title: slider.title,
          name: slider.name,
          link: "#"
        })
        .collections-list__slider.swiper-container
          .swiper-wrapper
            each slide in slider.list
              .swiper-slide.collections-list__slide
                +collection-item({
                  img: slide.img,
                  title: slide.title,
                  amount: slide.amount,
                  brand: slide.brand,
                  country: slide.country,
                  label: slide.label,
                  link: slide.link,
                })
          .swiper-button-prev.collections-list__slider-button__prev
          .swiper-button-next.collections-list__slider-button__next